<div id="pricetable-section">
    <h1>Bilety: </h1>
    <!--
    <ul id="tickets-types">
        <li ng-repeat = "tickets in pricetable track by $index" data-ng-click="switchTicketsType($index)" ng-class="{'active': currentTicketsType === $index}">{{tickets.type}}</li>
    </ul>
    <ul id="tickets-list">
        <li ng-repeat="ticket in pricetable[currentTicketsType].tickets">{{ticket.name}} | {{ticket.price}}zł</li>
    </ul>
    <ul id="messages">
        <li ng-repeat="message in messages">{{message}}</li>
    </ul>-->
</div>