<div id="stoptimetable-section">
    <h2>{{stop}}</h2>
    <a href="#/timetable"> Powrót</a>
    <div class="loading-box" ng-class="{'non-visible': contentLoaded}">
        <div class="loader"></div>
        <p>loading...</p>
    </div>
    <ul ng-class="{'non-visible': !contentLoaded}">
        <li ng-repeat="course in currentTimetable">
            <h1> {{course.line}}</h1>
            <div id="course-details"><b>{{course.destination}}</b><br>
                Przystanek nr {{course.stopId}} |
                <time>
                    {{course.time.hour}}:{{(course.time.minutes.toString().length === 1) ? ("0" + course.time.minutes.toString()) : course.time.minutes.toString()}}
                </time>
            </div>
            <div id="course-departure" ng-class="{'alert': course.timeFromNow <= 5}">
                {{course.timeFromNow <= 60 ? course.timeFromNow + " min" : (course.timeFromNow / 60 | floor) + "h " + (course.timeFromNow % 60) + "min"}}
            </div>
        </li>
    </ul>
    <button data-ng-click="switchTimetablePage(1)" ng-class="{'non-visible': currentTimetable.length / 10 - currentTimetablePage < 1 || timetable.length === 10}">Później</button> <!-- problem -->
    <button data-ng-click="switchTimetablePage(-1)" ng-class="{'non-visible': currentTimetablePage <= 0}">Wcześniej</button>
</div>