<div class="loading-box" ng-class="{'non-visible': contentLoaded}">
    <div class="loader"></div>
    <p>loading...</p>
</div>
<div id="linetimetable-section" ng-class="{'non-visible': !contentLoaded}">
    <div class="header"><h2>{{line}}</h2> <a href="#/timetable"> Powrót >> </a></div>
    <ul id="courses">
        <li ng-repeat="course in courses track by $index" data-ng-click="setCurrentCourse($index)" ng-class="{'active': currentCourse === $index}">
            {{course.start}} -> {{course.destination}}
        </li>
    </ul>
   <ul id="route">
        <li ng-repeat="stop in route track by $index" class="{{stopsClasses[$index]}}" >
            <img src="images/blue_list.png"><p data-ng-click="displayTimetable($index)">{{stop.name}}</p> <!--"-->
            <div id="timetable">
                <ul>
                    <li ng-repeat="t in timetable track by $index" data-ng-click="setCurrentTimetable($index)" ng-class="{'active': currentTimetable === $index}">
                    {{t.period}}</li>
                </ul>
                <table>
                    <tr ng-repeat="time in timetable[currentTimetable].timetable">
                        <td>{{time.hour}}</td>
                        <td>{{time.minutes.join(", ")}}</td>
                    </tr>
                </table>
                <button data-ng-click="displayRoute()">Pełna rozpiska trasy</button>
            </div>
        </li>
    </ul>
</div>
